
/* reset */
.pc{
    display: none;
}

.mobile{
    display: block;
}

/* main */
main{
    margin: 30px;
    padding-bottom: 22px;
}

.photo{
    text-align: center;
}

main .img a img{
    width: 100%;
}

main .imgS{
    display: flex;
    justify-content: center;
}

main .box{
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    box-sizing: border-box;
}

main .box:last-child{
    margin-right: 0;
}

main .box.active{
    border: 3px solid #00a7e1;
}

main .box img{
    width: 100%;
}


/* info */

.mRap .info{
    margin-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.mRap .info .icon{
    display: flex;
}

.info .new, .info .best{
    width: 38px;
    height: 16px;
    background-color: #00a7e1;
    margin-right: 8px;
}

.mRap .info .best{
    background-color: #666;
    margin-right: 16px;
}

.mRap .info h4{
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    display: flex;
    justify-content: center;
    line-height: 16px;
}

.mRap .star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mRap .star span{
    color: #ffdd00;
    font-size: 16px;
    margin-right: 4px;
}

.mRap .star h5{
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.mRap .info h2{
    font-size: 34px;
    color: #111;
    margin-top: 16px;
    text-align: left;
}

.mRap .info h3{
    font-size: 16px;
    color: #bbb;
    font-weight: 400;
    margin-top: 6px;
}

.mRap .info p{
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-top: 18px;
    line-height: 20px;
}



/* section */
.type h3, .colors h3, .function h3, .control h3, .contract h3{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-top: 28px;
}

section .txt{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    width: 48%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    color: #333;
    background-color: unset;
    font-weight: 500;
    font-size: 16px;                
}

.type button.active{
    border: none;
    background-color: #00a7e1;
    color: #fff;
}

section .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .colors h4{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    margin-top: 28px;
}

section .color_chips{
    display: flex;
    margin-top: 8px;
}

.colors span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
}

.color_chips div{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.color_chips div.active{
    border: 1px solid #999;
}


.function button.active, 
.control button.active, 
.contract button.active{
    border: 1px solid #00a7e1;
    color: #00a7e1;
}


/*buy*/

.buy{
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}

.bWrap{
    padding: 20px 30px;
}

.buy .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy .title h3{
    font-size: 18px;
    color: #333;
    font-weight: 700;
}

.buy .price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy .price p{
    font-size: 12px;
    color: #aaa;
    text-decoration: line-through;
    margin-right: 18px;
}

.buy .price h4{
    font-size: 22px;
    color: #00a7e1;
    font-weight: 700;
}

.buy .txt{
    display: flex;
    justify-content: space-between;
}

.buy button{
    width: 48%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    color: #333;
    background-color: unset;
    font-weight: 600;
    margin-top: 8px;
    font-size: 16px;
}

.buy button:active{
    border: 1px solid #00a7e1;
    background-color: #00a7e1;
    color: #fff;
}

/* footer */

footer{
    margin-bottom: 200px;
}